# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/
pip-log.txt

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs and local config
.idea/
.vscode/
*.swp
.DS_Store
.env

# By Mohit
prompt.md
directory_structure.txt
DockerCredentials.txt
